body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
}
.btn-login:hover {
  background-color: #0e3590;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header-background@2x.jpg");
  background-size: cover;
}
header h1,
header p {
  color: #fff;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}
header p {
  font-size: 22px;
}
header .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}
header .btn-get-started:hover {
  background-color: #ffa764;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 15px;
  background: #fff;
  padding-left: 40px;
}
.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 150px;
}
.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background: #fff;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}
.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 18px;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26px;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details:hover {
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50;
}
.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.section-networks img {
  max-width: 100%;
}

.section-testimonials-heading {
  background: linear-gradient #fff 0%, #f7f9ff 100%;
  padding-top: 50px;
  min-height: 506px;
}
.section-testimonials-heading h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-testimonials-heading p {
  font-size: 18px;
}

.section-testimonials-content {
  margin-top: -300px;
  padding-bottom: 50px;
}
.section-testimonials-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}
.section-testimonials-content .card-testimonial .testimonial-content {
  min-height: 380px;
}
.section-testimonials-content .card-testimonial h3 {
  font-size: 22px;
}
.section-testimonials-content .card-testimonial .testimonial {
  font-size: 26px;
  text-align: center;
  color: #6e6e6e;
  font-weight: 200;
  min-height: 200;
}
.section-testimonials-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}
.section-testimonials-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}
.section-testimonials-content .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}
.section-testimonials-content .btn-get-started:hover {
  color: #fff;
}
.section-testimonials-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
}
.section-testimonials-content .btn-need-help:hover {
  color: #c3c3c3;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
  margin-bottom: 20px;
}
.section-details-content .card-details h1 {
  font-size: 26px;
}
.section-details-content .card-details h2 {
  font-size: 20px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}
.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: bold;
}
.section-details-content .card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: bold;
}
.section-details-content .card-details .payment-instructions {
  color: #b1b1b1;
  font-weight: 300;
  font-size: 14px;
}
.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}
.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}
.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
}
.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .card-details h3 {
  font-weight: 600;
  font-size: 14px;
  color: #071c4d;
}
.section-details-content .card-details .disclaimer {
  font-weight: 600;
  font-size: 14px;
  color: #b1b1b1;
}
.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}
.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}
.section-details-content .card-details .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}
.section-details-content .card-details .btn-add-now:hover {
  background-color: #1b3b86;
  color: #fff;
}
.section-details-content .card-details .features {
  margin-top: 20px;
}
.section-details-content .card-details .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}
.section-details-content .card-details .features p {
  margin-bottom: 0;
}
.section-details-content .card-details .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.section-details-content .gallery .xzoom-container {
  display: block;
}
.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.section-details-content .gallery .xzoom-container .xactive {
  border: 2px solid #1abc9c;
  box-shadow: none;
}
.section-details-content .members .member-image {
  width: 40px;
  height: 40px;
}
.section-details-content .join-container {
  margin-top: -16px;
}
.section-details-content .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}
.section-details-content .btn-join-now:hover {
  background-color: #c97d43;
  color: #fff;
}

.section-success {
  height: 90vh;
}
.section-success h1 {
  font-weight: 600;
  color: #071c4d;
  font-size: 26px;
}
.section-success p {
  color: #b1b1b1;
  font-weight: 300;
  font-size: 16px;
}
.section-success .btn-home-page {
  background-color: #071c4d;
  color: #fff;
}
.section-success .btn-home-page:hover {
  background-color: #072a7b;
  color: #fff;
}

.latihan {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
}
.latihan h6 {
  color: #31b380;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.latihan h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}
.latihan span {
  color: #7839f3;
}
.latihan p {
  color: #b1b1b1;
  font-size: 16px;
  margin-bottom: 30px;
}
.latihan .btn-latihan {
  background-color: #7839f3;
  border-radius: 47px;
  color: #fff;
}
.latihan .btn-latihan:hover {
  background-color: #5500ff;
}
.latihan .gambarapp {
  margin-top: 60px;
}
.latihan .gambarapp img {
  margin-right: 6px;
}
.latihan .teksbawah {
  margin-top: 80px;
}
.latihan .teksbawah h3 {
  color: #31b380;
  font-size: 16px;
  margin-bottom: 8px;
}
.latihan .teksbawah h2 {
  font-size: 30px;
  font-weight: 700;
}
.latihan .benefits {
  margin-top: 60px;
}
.latihan h5 {
  margin-top: 12px;
}
.latihan .gambargroup {
  margin-bottom: 30px;
}
.latihan .gambargroup h6 {
  margin-bottom: 8px;
}
.latihan .gambargroup h3 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
}
.latihan .gambargroup .btn-learn {
  color: #7839f3;
  background-color: #f5efff;
  border-radius: 47px;
  border: 2px solid #ece3fe;
}
.latihan .gambargroup .btn-learn1 {
  color: #7839f3;
  background-color: #f5efff;
  border-radius: 47px;
  border: 2px solid #ece3fe;
}
.latihan .gambargroup .btn-learn2 {
  color: #7839f3;
  background-color: #f5efff;
  border-radius: 47px;
  border: 2px solid #ece3fe;
}

.section-journey {
  min-height: 597px;
  background-color: #4d1dab;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}
.section-journey h6 {
  color: #31b380;
  font-size: 16px;
}
.section-journey h3 {
  color: #fff;
  font-weight: 600;
}
.section-journey p {
  color: #fff;
}
.section-journey .btn-journey {
  color: #fff;
  background-color: #31b380;
  border-radius: 40px;
}

.ultah {
  font-family: "Poppins", sans-serif;
  height: 90vh;
}
.ultah h1 {
  font-size: 36px;
  font-weight: 900;
}
.ultah span {
  color: #7839f3;
}
.ultah p {
  color: #b1b1b1;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 0;
}
.ultah .btn-home-page {
  background-color: #7839f3;
  color: #fff;
}
.ultah .btn-home-page:hover {
  background-color: #4f19bb;
  color: #fff;
}

.ultah2 {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.ultah2 h1 {
  font-size: 30px;
  font-weight: 900;
}
.ultah2 p {
  font-weight: 300;
  font-size: 16px;
}
.ultah2 .foto1 {
  border-radius: 20px;
}
.ultah2 .btn-andre {
  border-radius: 47px;
  background-color: #601be9;
  color: white;
}
.ultah2 .btn-andre:hover {
  background-color: #3d07a8;
  color: #fff;
}/*# sourceMappingURL=main.css.map */